apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: model-storage
  namespace: cse239fall2025
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 10Gi
  storageClassName: rook-cephfs
